@import "./Variable.scss";

.nav-button {
  border: 2px solid $green;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
}

.primary-button {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;

  button {
    background: $midnight-express;
    padding: 1em 2em;
    border: none;
    color: $white;
    border-radius: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-left: 1em;
      width: 42px;
    }
  }
}
