@import "./Variable.scss";
@import "./Mixin.scss";

.group-vertical-card {
  background: $custom-white;
  display: flex;
  padding: 2em 0;

  &__title {
    min-width: 8em;

    p {
      writing-mode: vertical-lr;
      font-size: 2em;
      font-weight: bold;
    }
  }

  &__content {
    border-top: 0.15em solid $nobel;
    padding-top: 2em;
    margin-right: 3em;

    > div {
      text-align: justify;
      justify-content: space-between;

      p {
        margin-top: 0;
      }

      h2 {
        width: 70%;
      }
    }

    &__vertical-cards {
      display: flex;
      flex-wrap: wrap;
    }

    &__nav-buttons {
      display: flex;
      margin-bottom: 2em;

      .nav-button {
        background: $black;
        border: none;
      }

      .nav-button:nth-child(1) {
        margin-right: 1em;
      }
    }
  }

  .primary-button {
    button {
      width: 20em;
      padding: 1.7em 1em;
    }
  }

  @include md {
    flex-direction: column;

    &__content {
      margin-right: 0;
      margin: 0 3em;

      > div {
        h2 {
          width: 100%;
        }
      }

      &__vertical-cards {
        .vertical-card {
          width: 100%;
        }
      }
    }

    &__title {
      p {
        writing-mode: inherit;
      }
    }
  }
}
