@import "./Variable.scss";
@import "./Mixin.scss";

.intro {
  display: flex;
  background: $midnight-express;
  min-height: 100vh;
  color: $white;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 $big-screen-page-padding;

  &__top-nav {
    display: flex;
    justify-content: center;

    > div {
      width: 50%;
    }
  }

  &__content {
    > div {
      width: 50%;
      min-width: 300px;
    }

    h1,
    p {
      width: 80%;
    }

    &__description {
      p:nth-child(1) {
        font-weight: 700;
      }

      p:nth-child(2) {
        font-weight: 400;
      }
    }
  }

  .image {
    position: absolute;
    bottom: 0;
    margin-right: 5em;
    height: 80%;
  }

  .nav-button {
    position: absolute;
    bottom: 30px;
  }

  > div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  > div {
    text-align: justify;

    width: 100%;
  }

  @include lg {
    &__content {
      > div {
        width: 100%;
      }

      h1,
      p {
        width: 100%;
      }
    }
    &__top-nav {
      .logo {
        width: 100%;
      }
    }

    .image {
      position: relative;
    }

    .nav-button {
      display: none;
    }
  }

  @include sm {
    &__content {
      &__description {
        margin: 0;
      }
    }
  }
}
