@import "./Variable.scss";

.update {
  background: $white-ice;
  padding: 7em 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 20em;
  }

  form {
    display: flex;
    padding: 1em 0;

    .input {
      width: 15em;
      margin-right: 4em;
    }
  }
}
