$midnight-express: #010C2D;
$white: #fff;
$custom-white: #FDFDFD;
$nobel: #999999;
$green: #159B69;
$black: #000000;
$white-ice: #DCF9EB;

// Extra small smartphones (portrait view)
$screen-xs-max: 412px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 1100px;

// Large tablets and desktops
$screen-xl-max: 1300px;

// Larger screens
$screen-xxl-min: 166px;