$midnight-express: #010c2d;
$white: #fff;
$custom-white: #fdfdfd;
$nobel: #999999;
$green: #159b69;
$black: #000000;
$white-ice: #dcf9eb;

// Extra small smartphones (portrait view)
$screen-xs-max: 340px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 900px;

// Large tablets and desktops
$screen-xl-max: 1300px;

// Larger screens
$screen-xxl-min: 166px;

$big-screen-page-padding: 10%;
